<ng-container *ngIf="isDesktop">
    <ng-container *ngIf="loadedShopping==1">
        <select [style.width.%]="45" [(ngModel)]="categoryFilter" class="custom-select">
            <option *ngFor="let category of categoriesFilter" [value]="categoriesFilter.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="45" [(ngModel)]="userFilter" class="custom-select">
            <option *ngFor="let user of getUsersFilterItems()" [value]="getUsersFilterItems().indexOf(user)">{{user}}</option>
        </select>
        <button [style.width.%]="10" (click)="filtering(userFilter,categoryFilter)" class="btn btn-outline-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </ng-container>
    <br/><br/>
    <ng-container *ngIf="loadedShopping==1">
        <label [style.width.%]="30"><input class="form-control" placeholder="nazwa" [(ngModel)]="name" style="padding-top: 0.1em"></label>
        <select [style.width.%]="30" id="categories" [(ngModel)]="categoryID" class="custom-select">
            <option *ngFor="let category of categories" [value]="categories.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="30" [(ngModel)]="userID" class="custom-select">
            <option *ngFor="let user of getUsersItems()" [value]="user.ID">{{user.Login}}</option>
        </select>
        <button [style.width.%]="10" (click)="addShoppingItem(createShoppingItem(userID,name,categoryID))" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </ng-container>
    <hr/>
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <ng-container>
            <label [style.width.%]="40" style="font-weight:bold">Nazwa</label>
            <label [style.width.%]="25" style="font-weight:bold">Kategoria</label>
            <label [style.width.%]="25" style="font-weight:bold">Dodał</label>
            <label [style.width.%]="10" style="font-weight:bold">Akcja</label>
            <hr/>
        </ng-container>

        <ng-container *ngFor="let item of filteredShoppingItems; let i = index">
            <label [style.width.%]="40">{{item.Name}}</label>
            <label [style.width.%]="25">{{item.Category}}</label>
            <label [style.width.%]="25">{{item.User.Login}}</label>
            <button [style.width.%]="10" (click)="removeShoppingItem(item)" class="btn btn-outline-danger">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <hr/>
        </ng-container>
    </ng-container>
</ng-container>




<ng-container *ngIf="isMobile">

    <ng-container *ngIf="loadedShopping==1">
        <select [style.width.%]="40" [(ngModel)]="categoryFilter" class="custom-select">
            <option *ngFor="let category of categoriesFilter" [value]="categoriesFilter.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="40" [(ngModel)]="userFilter" class="custom-select">
            <option *ngFor="let user of getUsersFilterItems()" [value]="getUsersFilterItems().indexOf(user)">{{user}}</option>
        </select>
        <button [style.width.%]="20" (click)="filtering(userFilter,categoryFilter)" class="btn btn-outline-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </ng-container>
    <br/><br/>
    <ng-container *ngIf="loadedShopping==1">
        <label [style.width.%]="26"><input class="form-control" placeholder="nazwa" [(ngModel)]="name" style="padding-top: 0.1em"></label>
        <select [style.width.%]="27" id="categories" [(ngModel)]="categoryID" class="custom-select">
            <option *ngFor="let category of categories" [value]="categories.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="27" [(ngModel)]="userID" class="custom-select">
            <option *ngFor="let user of getUsersItems()" [value]="user.ID">{{user.Login}}</option>
        </select>
        <button [style.width.%]="20" (click)="addShoppingItem(createShoppingItem(userID,name,categoryID))" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </ng-container>
    <hr/>
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <ng-container>
            <label [style.width.%]="40" style="font-weight:bold">Nazwa</label>
            <label [style.width.%]="40" style="font-weight:bold">Dodał</label>
            <label [style.width.%]="20" style="font-weight:bold">Akcja</label>
            <hr/>
        </ng-container>

        <ng-container *ngFor="let item of filteredShoppingItems; let i = index">
            <label [style.width.%]="40">{{item.Name}}</label>
            <label [style.width.%]="40">{{item.User.Login}}</label>
            <button [style.width.%]="20" (click)="removeShoppingItem(item)" class="btn btn-outline-danger">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <hr/>
        </ng-container>
    </ng-container>
</ng-container>