<div *ngIf="!loadedShopping" style="text-align: center">
    <h1><i class="fa fa-spinner fa-spin"></i></h1>
</div>

<ng-container *ngIf="isDesktop || isTablet">
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <select [style.width.%]="45" [(ngModel)]="categoryFilter" class="custom-select">
            <option *ngFor="let category of categoriesFilter" [value]="categoriesFilter.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="45" [(ngModel)]="userFilter" class="custom-select">
            <option *ngFor="let user of getUsersFilterItems()" [value]="getUsersFilterItems().indexOf(user)">{{user}}</option>
        </select>
        <button [style.width.%]="10" (click)="filtering(userFilter,categoryFilter)" class="btn btn-outline-info">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </ng-container>
    <br/><br/>
    <ng-container *ngIf="loadedShopping==1">
        <label [style.width.%]="30"><input class="form-control" placeholder="nazwa" [(ngModel)]="name" style="padding-top: 0.1em"></label>
        <select [style.width.%]="30" id="categories" [(ngModel)]="categoryID" class="custom-select">
            <option *ngFor="let category of categories" [value]="categories.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="30" [(ngModel)]="userID" class="custom-select">
            <option *ngFor="let user of getUsersItems()" [value]="user.ID">{{user.Login}}</option>
        </select>
        <button [style.width.%]="10" (click)="addShoppingItem(createShoppingItem(userID,name,categoryID))" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </ng-container>
    <hr/>
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <ng-container>
            <div [style.width.%]="100">
                <div [style.width.%]="100" class="form-check form-check-inline">
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Nazwa</label></div>
                    <div [style.width.%]="25"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Kategoria</label></div>
                    <div [style.width.%]="25"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Dodał</label></div>
                    <div [style.width.%]="10"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Akcja</label></div>
                </div>
            </div>
            <hr/>
        </ng-container>

        <ng-container *ngFor="let item of filteredShoppingItems; let i = index">
            <div [style.width.%]="100">
                <div [style.width.%]="100" class="form-check form-check-inline">
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;">{{item.Name}}</label></div>
                    <div [style.width.%]="25"><label [style.width.%]="100" style="vertical-align: middle;">{{item.Category}}</label></div>
                    <div [style.width.%]="25"><label [style.width.%]="100" style="vertical-align: middle;">{{item.User.Login}}</label></div>
                    <div [style.width.%]="10">
                        <button [style.width.%]="100" (click)="removeShoppingItem(item)" class="btn btn-outline-danger" style="vertical-align: middle;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr/>
        </ng-container>
    </ng-container>
</ng-container>




<ng-container *ngIf="isMobile">
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <select [style.width.%]="40" [(ngModel)]="categoryFilter" class="custom-select">
            <option *ngFor="let category of categoriesFilter" [value]="categoriesFilter.indexOf(category)">{{category}}</option>
        </select>
        <select [style.width.%]="40" [(ngModel)]="userFilter" class="custom-select">
            <option *ngFor="let user of getUsersFilterItems()" [value]="getUsersFilterItems().indexOf(user)">{{user}}</option>
        </select>
        <button [style.width.%]="20" (click)="filtering(userFilter,categoryFilter)" class="btn btn-outline-info">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </ng-container>
    <br/><br/>
    <ng-container *ngIf="loadedShopping==1">
        <button [style.width.%]="100" *ngIf="!add" (click)="setAdd()" class="btn btn-outline-primary">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <ng-container *ngIf="add">
            <button [style.width.%]="100" (click)="setAdd()" class="btn btn-outline-primary">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
            <br/>
            <br/>
            <label [style.width.%]="100"><input class="form-control" placeholder="nazwa" [(ngModel)]="name"></label>
            <select [style.width.%]="40" id="categories" [(ngModel)]="categoryID" class="custom-select">
                <option *ngFor="let category of categories" [value]="categories.indexOf(category)">{{category}}</option>
            </select>
            <select [style.width.%]="40" [(ngModel)]="userID" class="custom-select">
                <option *ngFor="let user of getUsersItems()" [value]="user.ID">{{user.Login}}</option>
            </select>
            <button [style.width.%]="20" (click)="addShoppingItem(createShoppingItem(userID,name,categoryID))" class="btn btn-outline-success">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </ng-container>
    </ng-container>
    <hr/>
    <br/>
    <ng-container *ngIf="loadedShopping==1">
        <ng-container>
            <div [style.width.%]="100">
                <div [style.width.%]="100" class="form-check form-check-inline">
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Nazwa</label></div>
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Dodał</label></div>
                    <div [style.width.%]="20"><label [style.width.%]="100" style="vertical-align: middle;" style="font-weight:bold">Akcja</label></div>
                </div>
            </div>
            <hr/>
        </ng-container>

        <ng-container *ngFor="let item of filteredShoppingItems; let i = index">
            <div [style.width.%]="100">
                <div [style.width.%]="100" class="form-check form-check-inline">
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;">{{item.Name}}</label></div>
                    <div [style.width.%]="40"><label [style.width.%]="100" style="vertical-align: middle;">{{item.User.Login}}</label></div>
                    <div [style.width.%]="20">
                        <button [style.width.%]="100" (click)="removeShoppingItem(item)" class="btn btn-outline-danger" style="vertical-align: middle;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr/>
        </ng-container>
    </ng-container>
</ng-container>