<div *ngIf="!loadedCleaning" style="text-align: center">
    <h1><i class="fa fa-spinner fa-spin"></i></h1>
</div>

<ng-container *ngIf="isDesktop || isTablet">
    <br/>
    <ng-container *ngIf="loadedCleaning==1">
        <ng-container>
            <h2 *ngIf="delay>0" class="text-danger" [style.width.%]="100" style="font-weight:bold">Opóźnienie!!! - dni: {{delay}}
            </h2>
            <h3 class="text-danger" [style.width.%]="100" style="font-weight:bold">Następne sprzątanie: {{date2}} - {{getNextCleanersString()}}</h3>
            <br/>
        </ng-container>
        <ng-container>
            <label [style.width.%]="30" style="font-weight:bold">Kto</label>
            <label [style.width.%]="25" style="font-weight:bold">Ile razy</label>
            <label [style.width.%]="35" style="font-weight:bold">Ostatnio</label>
            <label [style.width.%]="10" style="font-weight:bold">Akcja</label>
            <hr/>
        </ng-container>
        <ng-container *ngFor="let item of cleaners; let i = index">
            <label [style.width.%]="30">{{item.User.Login}}</label>
            <label [style.width.%]="25">{{item.Counter}}</label>
            <label [style.width.%]="35">{{changeDateFormatToPL(item.LastTimeOfCleaning) + " ("+getDayOfWeek(item.LastTimeOfCleaning)+")"}}</label>
            <button *ngIf="!user[i]" [style.width.%]="10" (click)="getDetails(i)" class="btn btn-outline-info">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
            <button *ngIf="user[i]" [style.width.%]="10" (click)="getDetails(i)" class="btn btn-outline-info">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
            <div *ngIf="user[i]" style="overflow: auto;">
                <button [style.width.%]="10" (click)="addCleaning(item,changeDateFormatToSQL(date))" class="btn btn-outline-success float-right">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <label class="float-right" [style.width.%]="36"><input class="form-control" placeholder="data" [(ngModel)]="date" ></label>
                <label class="float-right">Data:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <hr/>
        </ng-container>
        <br/><br/>
        <ng-container>
            <label [style.width.%]="50" style="font-weight:bold">Kto</label>
            <label [style.width.%]="50" style="font-weight:bold">Kiedy</label>
            <hr/>
        </ng-container>
        <ng-container *ngFor="let item of filteredCleaning; let i = index">
            <label [style.width.%]="50">{{item.Cleaner.User.Login}}</label>
            <label [style.width.%]="50">{{changeDateFormatToPL(item.Date) + " ("+getDayOfWeek(item.Date)+")"}}</label>
            <hr/>
        </ng-container>
    </ng-container>

</ng-container>


<ng-container *ngIf="isMobile">
    <br/>
    <ng-container *ngIf="loadedCleaning==1">
        <ng-container>
            <h2 *ngIf="delay>0" class="text-danger" [style.width.%]="100" style="font-weight:bold">Opóźnienie!!! - dni: {{delay}}
            </h2>
            <h3 class="text-danger" [style.width.%]="100" style="font-weight:bold">Następne sprzątanie: {{date2}} - {{getNextCleanersString()}}</h3>
            <br/>
        </ng-container>
        <ng-container>
            <label [style.width.%]="30" style="font-weight:bold">Kto</label>
            <label [style.width.%]="20" style="font-weight:bold">Ile razy</label>
            <label [style.width.%]="30" style="font-weight:bold">Ostatnio</label>
            <label [style.width.%]="20" style="font-weight:bold">Akcja</label>
            <hr/>
        </ng-container>
        <ng-container *ngFor="let item of cleaners; let i = index">
            <label [style.width.%]="30">{{item.User.Login}}</label>
            <label [style.width.%]="20">{{item.Counter}}</label>
            <label [style.width.%]="30">{{changeDateFormatToPL(item.LastTimeOfCleaning)}}</label>
            <button *ngIf="!user[i]" [style.width.%]="20" (click)="getDetails(i)" class="btn btn-outline-info">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
            <button *ngIf="user[i]" [style.width.%]="20" (click)="getDetails(i)" class="btn btn-outline-info">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
            <div *ngIf="user[i]" style="overflow: auto;">
                <button [style.width.%]="20" (click)="addCleaning(item,changeDateFormatToSQL(date))" class="btn btn-outline-success float-right">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <label class="float-right" [style.width.%]="33"><input class="form-control" placeholder="data" [(ngModel)]="date" ></label>
                <label class="float-right">Data:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <hr/>
        </ng-container>
        <br/>
        <ng-container>
            <label [style.width.%]="50" style="font-weight:bold">Kto</label>
            <label [style.width.%]="50" style="font-weight:bold">Kiedy</label>
            <hr/>
        </ng-container>
        <ng-container *ngFor="let item of filteredCleaning; let i = index">
            <label [style.width.%]="50">{{item.Cleaner.User.Login}}</label>
            <label [style.width.%]="50">{{changeDateFormatToPL(item.Date)}}</label>
            <hr/>
        </ng-container>
    </ng-container>

</ng-container>