<table *ngIf="loadedPayments==1" class="table table-hover">
    <tr>
        <td><input class="form-control" placeholder="nazwa" [(ngModel)]="name"></td>
        <td>
            <select [(ngModel)]="userID" class="custom-select">
                <option *ngFor="let user of getUsersItems()" [value]="user.ID">{{user.Login}}</option>
            </select>
        </td>
        <td>
            <div *ngFor="let user of getUsersItems()" class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (change)=selectUser(user) checked='selected[findSelected[user]]["1"]'>                    {{user.Login}}
                </label>
            </div>
        </td>
        <td><input class="form-control" placeholder="kwota" [(ngModel)]="value"></td>
        <td>
            <button (click)="addPayments(name,userID,value)" class="btn btn-outline-success">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</table>
<table *ngIf="loadedPayments==1" class="table table-hover">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Dodał</th>
            <th>Przypisani</th>
            <th>Kwota</th>
            <th>Data</th>
            <th>Anuluj</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paymentsGroup; let i = index">
            <td>{{item.Name}}</td>
            <td>{{item.User1.Login}}</td>
            <td>{{item.getInitials()}}</td>
            <td>{{item.Value}}</td>
            <td>{{item.AddDate}}</td>
            <td>
                <button *ngIf="checkDate(item)" (click)="rollback(item)" class="btn btn-outline-primary">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>